<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="imu">
      
        <link name="imu_link">
            <inertial>
                <mass value="0.001"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
            </inertial>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <!-- <collision>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size=".001 .001 .001"/>
                </geometry>
            </collision> -->
        </link>

        <joint name="imu_joint" type="fixed">
            <parent link="trunk"/>
            <child link="imu_link"/>
            <origin rpy="0 0 0" xyz="-0.01592 -0.06659 -0.00617"/>
        </joint>        

        <gazebo reference="imu_link">
            <sensor name="imu_sensor" type="imu">
                <topic>imu_plugin/out</topic>
                <update_rate>${imu_update_rate}</update_rate>
                <always_on>${imu_always_on}</always_on>
                <visualize>${imu_visualize}</visualize>
                <gz_frame_id>imu_link</gz_frame_id>
            </sensor>
        </gazebo>

    </xacro:macro>
        
</robot>





